body,
html {
  background: $body-background;
  background-color: $body-background;
}



// Header
.header {
  background: #FF6A10;
  background-color: #FF6A10;


  .columns {
    padding-top: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px;

    .logo_white {
      width: 128px;
    }

    .user_icon {
      width: 32px;
      padding-right: 15px;
    }
  }
}


// Sub Header
.sub-header {
  background: #D65600;
  background-color: #D65600;

  .columns {
    padding-top: 5px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 5px;

    a {
      color: white;
      font-size: 14px;
      font-weight: 700;

      img {
        color: white;
        width: 20px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
      }
    }

    th {
      text-align: center;
    }

    .divider {
      display: block;
      height: 20px;
      width: 1px;
      background: #d65600;
      background-color: #d65600;
    }
  }
}


// Deal of the Day Area
.deal_of_day {
  background: #13191F;
  background-color: #13191F;

  .columns {
    th {
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }

  img {
    padding-bottom: 20px;
  }

  h2 {
    color: #ffffff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
  }

  p {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
  }

  span {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    display: block;

    &.save_amount {
      font-size: 14px;
    }

    &.tiny_info {
      font-size: 10px;
      font-weight: 300;
      padding-bottom: 10px;
    }

    &.price {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }

  .button {
    display: block;
    width: 150px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #ffffff;

    &:hover {
      color: $primary-color;
    }
  }
}


// Offer Area
.content_area {
  background: $medium-gray;
  background-color: $medium-gray;

  .offer {
    background: white;
    background-color: white;
    margin-top: 20px;

    .columns {
      th {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    img {
      padding-bottom: 20px;
    }

    h2 {
      color: #334755;
      font-weight: 900;
      font-size: 30px;
      text-align: center;
      padding-bottom: 20px;
    }

    p {
      color: #334755;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      padding-bottom: 20px;
    }

    span {
      color: #334755;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      display: block;

      &.save_amount {
        font-size: 14px;
        color: #1D93F5;
      }

      &.tiny_info {
        font-size: 10px;
        font-weight: 300;
        padding-bottom: 10px;
      }

      &.price {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
      }
    }

    .button {
      display: block;
      width: 150px;
      text-align: center;
      padding-top: 7px;
      padding-bottom: 7px;
      background-color: #13191F;
      border-radius: 5px;
      color: #ffffff;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .second_offer {
    background: white;
    background-color: white;
    margin-top: 20px;

    .columns {
      th {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    img {
      display: inline-block;
      background-color: white;
      color: black;
      width: 35%;
    }

    p {
      color: #334755;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      padding-bottom: 10px;
    }

    .info {
      color: #334755;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      display: block;
      padding-bottom: 10px;
    }
  }

  .button {
    display: block;
    width: 150px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #13191F;
    border-radius: 5px;
    color: #ffffff;

    &:hover {
      color: $primary-color;
    }
  }
}


// Footer Top
.footer_top {
  height: 100px;
  .logo {
    padding-top: 30px;
    background-color: #222D37;

    img {
      width: 45px;
    }
  }

  .info {
    background-color: #222D37;
    padding-top: 30px;

    p {
      font-weight: 600;
      color: white;
      font-size: 14px;
    }
  }

  .store {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #222D37;

    .apple {
      display: inline-block;
      width: 135px;
      height: 46px;
      margin: 0;
    }

    .android {
      display: inline-block;
      width: 135px;
      height: 46px;
      margin: 0;
    }
  }
}


// Footer
.footer_social {
  background: #14191E;

  .logo_section {
    padding-top: 30px;

    img {
      width: 125px;
    }
  }

  .social_icons {
    padding-top: 30px;
    img {
      width: 28px;
      color: #222D37;
    }
  }
}

.footer_links {
  padding-top: 20px;
  background: #14191E;
  background-color: #14191E;

  .columns {
    padding-top: 5px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 5px;

    a {
      color: white;
      font-size: 14px;
      font-weight: 700;
      &:hover {
        color: $primary-color;
      }

      img {
        color: white;
        width: 20px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
      }
    }

    th {
      text-align: center;
    }

    .divider {
      display: block;
      height: 20px;
      width: 1px;
      background: #222D37;
      background-color: #222D37;
    }
  } 
}

.border {
    height: 1px;
    color: #222D37;
    background-color: #222D37;
}

  .footer_bottom  {
    background: #14191E;
    background-color: #14191E;
    & > tbody > tr > th {
      padding-left: 30px !important; 
      padding-right: 30px !important; 
      padding-top: 30px !important; 
      padding-bottom: 40px !important; 
    }
    
    .lower_links {
      & > tbody > tr > th > table > tbody > tr > th {
        text-align: center;
      }
      a {
        color: white;
        font-weight: 600;
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
        &:hover {
          color: $primary-color;
        }
      }
    }

    .lower_links {
      & > tbody > tr > th {
        padding-bottom: 5px;
      }
    }

    .privacy_text {
      p {
        color:#A0A1A3;
        font-size: 11px;
        padding-bottom: 20px;
      }
    }

    .copyright, 
    .address  {
      p {
          color: white;
          font-size: 14px;
          margin-bottom: 0 ;
          
      }
      & > tbody > tr > th {
        padding: 2px;
      }
    }
  }

  @media all {
      a:hover {color: #d65600 !important }
  }

  
  